.control-radio---2rwkY {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.control-radio---2rwkY *,
.control-radio---2rwkY *:before,
.control-radio---2rwkY *:after {
  box-sizing: inherit;
}
.control-radio---2rwkY.disabled---eCY9b {
  opacity: 0.4;
  cursor: not-allowed;
}
.control-radio---2rwkY .control-indicator---dcwXW {
  position: relative;
  display: flex;
  align-items: center;
  pointer-events: none;
  min-width: 22px;
}
.control-radio---2rwkY .text-label---2D19D {
  display: inline-block;
}
.input-radio---2yM_b {
  border: 0px;
  clip-path: circle(0%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
.input-radio---2yM_b + .control-indicator---dcwXW::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  vertical-align: top;
}
.input-radio---2yM_b:checked + .control-indicator---dcwXW::before {
  border: 1px solid #0096cc;
  background-color: #0096cc;
  transition: background-color 0.2s;
}
.input-radio---2yM_b:checked + .control-indicator---dcwXW::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: 4px;
  height: 6px;
  width: 6px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.control-radio---2rwkY:not(.disabled---eCY9b):hover > .control-indicator---dcwXW::before {
  border: 1px solid #0096cc;
}
.control-radio---2rwkY:not(.disabled---eCY9b):hover > .input-radio---2yM_b:checked + .control-indicator---dcwXW::before {
  border: 1px solid #33abd6;
  background-color: #33abd6;
}
.input-radio---2yM_b:not(:checked):disabled {
  cursor: not-allowed;
}
.input-radio---2yM_b:not(:checked):disabled + .control-indicator---dcwXW::before {
  border: 1px solid #999;
  background-color: #ddd;
}

